.ui-page-theme-a .ui-btn{
	background-color:#f5821f;
}

.ui-page-theme-a .ui-btn:active, .ui-page-theme-a .ui-btn:hover{
	background-color: #2e3092;
	color: #fff;
	text-shadow: 0 1px 0 #000;
}